@import 'ngx-toastr/toastr';

.toast-success {
  background-color: #28a745 !important;
}

.toast-error {
  background-color: #dc3545 !important;
}

.toast-warning {
  background-color: #ffc107 !important;
  color: #212529 !important;
}

.toast-info {
  background-color: #17a2b8 !important;
}

:root {
  --hospital-green: #037328;
  --hospital-light-green: #13dd1a;
  --hospital-mint: #e5f7e7;
  --hospital-white: #ffffff;
  --hospital-gray: #e6e6e6;
  --hospital-dark-gray: #333333;
  --hospital-border: #aedaaf;
  --hospital-error: #d34e4e;
  --hospital-warning: #f4b921;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--hospital-gray);
}